
@import "variables";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

p {
    padding-top: 1em;
    padding-bottom: 1em;
}

.article-content {
    border-radius: 0.6em 0 0 0;
    padding: 0px 0.8em;
    margin: 0.8em;
    border-left: 0.12em solid $dark;
}

.btn-block {
    text-shadow: 2px 2px 2px $gray-600;
}

h1 {
    padding-left: 0.4em;
    text-shadow: 5px 5px 4px $gray-900;
}

h4 {
    border-radius: 0.2em 0 0 0;
    padding-left: 0.35em;
    border-left: 0.1em solid $success;
}

img {
    box-shadow: 4px 6px 6px $black;
}